<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.ReservationsTimeTravelersMapper">

    <resultMap id="BaseResultMap" type="com.generator.domain.ReservationsTimeTravelers">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="reservationsTimeId" column="reservationsTimeId" jdbcType="BIGINT"/>
            <result property="fullName" column="fullName" jdbcType="VARCHAR"/>
            <result property="idNumber" column="idNumber" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phoneNumber" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,reservationsTimeId,
        fullName,idNumber,phoneNumber,
        createTime,updateTime,isDelete
    </sql>
</mapper>
