<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.ReservationsTimeMapper">

    <resultMap id="BaseResultMap" type="com.generator.domain.ReservationsTime">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="reservationsId" column="reservationsId" jdbcType="BIGINT"/>
            <result property="stock" column="stock" jdbcType="BIGINT"/>
            <result property="instructions" column="instructions" jdbcType="VARCHAR"/>
            <result property="openDateTime" column="openDateTime" jdbcType="TIMESTAMP"/>
            <result property="timeSlot" column="timeSlot" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,reservationsId,stock,
        instructions,openDateTime,timeSlot,
        createTime,updateTime,isDelete
    </sql>
</mapper>
