<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generator.mapper.TicketscenicMapper">

    <resultMap id="BaseResultMap" type="com.generator.domain.Ticketscenic">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="carouselImages" column="carouselImages" jdbcType="VARCHAR"/>
            <result property="scenicName" column="scenicName" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="openingHours" column="openingHours" jdbcType="VARCHAR"/>
            <result property="contactNumber" column="contactNumber" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="details" column="details" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="stock" column="stock" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,carouselImages,scenicName,
        tags,openingHours,contactNumber,
        address,details,price,
        stock
    </sql>
</mapper>
